/* ==========================================================================
   1.Base
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,700,300&subset=latin,cyrillic);

html {font-size: 1em;}

body {
  background-color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: $color-base;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small, .font_small {
  font-size: 0.707em;
}

img {
  max-width: 100%;
}


