/* ==========================================================================
   2.Layout
   ========================================================================== */

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $headerZ;
}

/* Sections */
.contentWrap {
  & > section {
    padding: 70px 0 50px;

    .container {
      & > h2 {
        font-size: 2em; //32px
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
      }

      & > h3 {
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
        margin-bottom: 65px;
      }
    }
  }
}

/* Footer */
footer {
  height: $footerH;

  .copyright {
    margin: 0;
    font-size: 0.875em;
    line-height: $footerH;
  }
}