//
// FUNCTIONS
//

//
//------------------------------------------------------
//



//
// MIXIN
//

//  Media queries breakpoints
//
//  right follow media queries breakpoints:
//
//    @include media-xs {}
//    @include media-xxs {}
//    @include media-xs-l {}
//    @include media-sm {}
//    @include media-md {}
//    @include media-lg {}
//    @include media-xlg {}


@mixin media-xs {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin media-xxs {
  @media (max-width: $screen-xs-min) {
    @content
  }
}

@mixin media-sm {
  @media (min-width: $screen-sm-min) {
    @content
  }
}

@mixin media-md {
  @media (min-width: $screen-md-min) {
    @content
  }
}

@mixin media-lg {
  @media (min-width: $screen-lg-min) {
    @content
  }
}

@mixin media-xlg {
  @media (min-width: $screen-xlg-min) {
    @content
  }
}

//------------------------------------------------------