/* ==========================================================================
   3.Module
   ========================================================================== */

/* 3.1 Partial Modules
   ========================================================================== */
/* Buttons */
.bBtn {
  font-size: 0.875rem;
  font-weight: 700 !important;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  padding: 10px 15px;

  @include media-sm {
    padding: 15px 25px;
  }

  &.mDef {
    color: $color-base;
    border: 1px solid $color-base;
    background: inherit;

    &:hover,
    &:focus {
      background: $color-light-hover;
    }
  }

  &.mLead {
    /* Old browsers */
    background: $color-lead-grad-start;
    background: linear-gradient(to bottom,  $color-lead-grad-start 0%, $color-lead-grad-end 100%);
    color: $color-light;

    &:hover,
    &:focus {
      background: linear-gradient(to bottom,  $color-lead-grad-end 0%, $color-lead-grad-start 100%);
    }
  }

  &.mFullW {
    width: 100%;
  }
}

/* Modal form */
.bModalForm {
  .bModalDialog {
    width: auto;

    .bModalContent {
      border: 0;
      border-radius: 0;

      .eCloseBtn {
        position: absolute;
        top: -1em;
        right: -1em;
        padding: 0;
        cursor: pointer;
        background: transparent;
        color: $color-lead;
        font-size: 1.375em; //22px
        border: 0;
        outline: none;
        -webkit-appearance: none;

        .fa+.fa {
          color: #fff;
        }
      }
    }
  }
}

/* Form Call Back */
.bFormCall {
  padding: 40px 28px 30px;
  border: 2px solid #f1f1f1;
  text-align: center;
  background: #fff;

  @include media-sm {
    width: 350px;
  }

  input, textarea {
    border: 1px solid #f1f1f1;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 8px 14px;
  }

  input {
    height: 40px;
  }

  .eTitle {
    font-size: 1.5em; //24px
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 20px;
  }

  .bFormGr {
    margin: 0 0 10px
  }
}

/* Page Preloader */
.bPreloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #DADADA;
  z-index: 100500;

  .bPreloaderContent {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;

    .bBrand {
      text-align: center;
      width: 100%;
      margin: 0 auto 50px;
    }

    svg {
      path {
      fill: $color-lead;
      }
    }
  }
}





/* 3.2 Navigation Bar
   ========================================================================== */
/* Brand */
.bBrand {
  height: $headerH;
  padding: 20px 15px 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.625em; //26px
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #3b3b3b;

  span {
    color: $color-lead;
  }

  strong {
    display: block;
    font-size: 0.38461em; //10px
    margin-top: 4px;
  }
}

/* Navigation List */
.bNavList {

  li {
    position: relative;

    a {
      @include media-sm {
        line-height: 42px;
        height: 70px;
      }

      &:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: $color-lead;
        transform: scale(0,1);
        //transform-origin: left center;
        transition: all .15s ease-out;
      }

      &:hover,
      &:focus {
        background-color: $color-light-hover;

        &:after {
          transform: scale(1,1);
        }
      }
    }

    &.active {
      a {
        background: $color-lead;
        color: $color-light;

        @include media-sm {
          padding-bottom: 13px;
          background: $color-light-hover;
          color: $color-base;
          //border-bottom: 2px solid $color-lead;
        }

        &:after {
          transform: scale(1,1);
        }
      }
    }
  }

  @include media-sm {
    font-size: 0.75em;
    text-transform: uppercase;
  }
}

/* Contacts List */
.bContactsList {
  font-size: 0.75em; //12px
  font-weight: 700;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  
  i {
    margin-right: 16px;
  }

  li {
    float: none;

    a {
      padding: 6px;
      font-weight: 700;

      &:hover,
      &:focus {
        background-color: inherit;
      }

      @include media-lg {
        padding: 25px 15px;
      }
    }

    @include media-lg {
      float: left;
    }
  }

  @include media-sm {
    float: right;
    border: 0;
  }

  @include media-md {
    float: left;
  }
}

/* NavBar */
.bNavBarHead {
  height: $headerH;
  background: #f9fbfe;
  color: $color-base;
  border: 0;
  border-radius: 0;
  margin: 0;

  a {
    color: $color-base;
    font-weight: 400;
  }

  /* Navbar Elements */
  .navbar-collapse {
    text-align: center;
    background: #f9fbfe;

    @include media-sm {
      text-align: left;
      background: inherit;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: #e7e7e7;
  }

  /* NavBar Toggle Button */
  .eToggleBtn {
    margin: 0;
    height: 70px;
    width: 70px;
    background: $color-lead;
    border: 0;
    border-radius: 0;
    padding: 10px 24px;

    .icon-bar {
      background-color: $color-base;
    }

    &:hover,
    &:focus {
      background: $color-lead-hover;
    }
  }

  /* Navbar Call Button */
  .eNavBarBtn {
    display: block;
    margin: 0 0 10px;

    @include media-sm {
      display: none;
      margin: 0;
    }

    @include media-md {
      display: block;
      float: right;
    }

    .bBtn {
      @include media-sm {
        padding: 15px;
      }
    }
  }
}


/* 3.3 Sections
   ========================================================================== */
/* Section Banner */
.secBanner {
  font-size: 1.25em; //20px
  color: $color-light;
  text-transform: uppercase;
  text-align: center;

  @include media-sm {
    min-height: 730px;
    padding-top: $headerH;
    font-size: 2.5em; //40px
    background-attachment: fixed;
  }

  h1 {
    font-size: 0.75em;
    font-weight: 700;
    margin-bottom: 0.2em;
    text-shadow: 1px 2px 0 rgba(32, 8, 0, 0.24);
  }

  p {
    margin-bottom: 0.6em;
  }

  h2 {
    display: inline-block;
    padding: 11px 45px;
    font-size: 1.2em;
    font-weight: 700;
    border: 1px solid $color-light;
    background: rgba($color-light, 0.2);
    margin-top: 0;
    text-shadow: 1px 1px 0 rgba(32, 8, 0, 0.05);
  }
}

/* Section About Us */
.secAboutUs {
  background: #f0f0f2;
  padding-bottom: 0!important;

  h2 {
    margin: 0 0 86px;
  }

  .container {
    padding-bottom: 50px;
  }

  /* Features Circle Block */
  .bFeaturesCircle {
    .bItemCircle {
      text-align: center;
      margin: 0 0 40px;

      @include media-md {
        margin: 0;
      }

      /* Features Circle Icons */
      .eIcon {
        position: relative;
        display: inline-block;
        width: 160px;
        height: 160px;
        background: #f7f7f7;
        border: 1px solid rgba(#808080, 0.25);
        border-radius: 50%;
        overflow: hidden;
        transition: all 1s ease;

        &:before {
          content: ' ';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          margin: -35px auto 0;
          width: 66px;
          height: 69px;
          background-image: url('../images/features-circle/features-circle-sprite.png');
          background-repeat: no-repeat;
          z-index: 9;
        }

        &:after {
          content: ' ';
          display: block;
          width: 100%;
          height: 100%;
          background: $color-lead-grad-start;
          background: linear-gradient(to bottom,  $color-lead-grad-start 0%, $color-lead-grad-end 100%);
          border-radius: 50%;
          opacity: 0;
          transform: scale(0);
          transition: transform .3s ease, opacity .25s ease;
        }

        &:hover {
          &:after {
            opacity: 1;
            transform: scale(1);
          }
        }

      }

      /* Features Circle Title */
      .eTitle {
        width: 160px;
        margin: 25px auto 0;
        font-size: 1em;
        font-weight: 700;
      }
    }
    
    //@TODO: add functional to admin CMS
    .row > [class^='col-'] {
      
      &:nth-of-type(1) {
        .eIcon {
          &:before {
            background-position: -157px -84px;
          }

          &:hover:before {
            background-position: -157px -5px;
          }
        }
      }

      &:nth-of-type(2) {
        .eIcon {
          &:before {
            background-position: -81px -5px;
          }

          &:hover:before {
            background-position: -5px -5px;;
          }
        }
      }

      &:nth-of-type(3) {
        .eIcon {
          &:before {
            background-position: -81px -84px;
          }

          &:hover:before {
            background-position: -5px -84px;
          }
        }
      }

      &:nth-of-type(4) {
        .eIcon {
          &:before {
            background-position: -81px -163px;
          }

          &:hover:before {
            background-position: -5px -163px;
          }
        }
      }

    }
  }
}

/* Section Features */
.secFeatures {
  position: relative;
  padding: 0 !important;
  height: 458px;
  overflow: hidden;

  .bItemFeature {
    height: 458px;
    overflow: hidden;
    color: $color-light;

    .bDescr {
      font-size: 1.25em; //20px

      .container {
        padding-bottom: 0;
      }

      .eTitle {
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 20px;
      }
      
      .eMore {
        font-size: 0.9em;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-light;

        &:after {
          content: ' \003e';
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .bSliderControls {
    .ePrev, .eNext {
      display: inline-block;
      position: absolute;
      top: 50%;
      color: #fff;
      font-size: 30px;
      margin-top: -27px;
      width: 54px;
      height: 54px;
      text-align: center;
      border: 2px solid $color-light;
      border-radius: 50%;
      z-index: 9;

      &:after {
        content: ' ';
        position: absolute;
        top: -2px;
        left: -2px;
        display: block;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        z-index: -1;
        background: $color-lead-grad-start;
        background: linear-gradient(to bottom,  $color-lead-grad-start 0%, $color-lead-grad-end 100%);
        opacity: 0;
        transform: scale(0);
        transition: transform .3s ease, opacity .25s ease;
      }

      &:hover {
        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }

      .fa {
        line-height: 50px;
      }
    }

    .ePrev {
      left: 30px;
    }

    .eNext {
      right: 30px;
    }
  }
}

/* Section Portfolio */
.secPortfolio {

  .contentWrap & {
    padding-bottom: 0;
  }

  .bPortfolioItems {
    .bPItem {
      position: relative;
      display: inline-block;
      width: 25%;
      float: left;
      overflow: hidden;

      @include media-xxs {
        width: 100%;
      }

      .eThumb {
        margin: 0;

        img {
          //height: 335px;
        }
      }

      .bDescr {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;

        .eLink, .eText {
          transition: transform .3s ease, opacity .25s ease;
          opacity: 0;
        }

        .eLink {
          position: relative;
          height: 60%;
          overflow: hidden;
          background: linear-gradient(to bottom, rgba($color-lead-grad-start, .8) 0%, rgba($color-lead-grad-end, .8) 100%);
          text-align: center;
          transform: translateY(-100%);

          a {
            position: absolute;
            top: 55%;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-left: -25px;
            margin-top: -25px;
            border-radius: 50%;
            text-align: center;
            font-size: 1.5625em;

            &:before {
              content: ' ';
              position: absolute;
              top: 0;
              left: 0;
              margin-left: -15px;
              margin-top: -15px;
              display: inline-block;
              width: 80px;
              height: 80px;
              background: $color-light;
              border-radius: 50%;
              transform: scale(0);
            }

            &:focus:before {
              opacity: 0;
              transform: scale(1);
              transition: all 1s ease;
            }

            .fa-circle {
              color: $color-light;
            }

            .fa-link {
              color: #777777;
            }
          }
        }

        .eText {
          height: 40%;
          overflow: hidden;
          background: rgba($color-light, .9);
          font-size: 0.875em;
          font-weight: 700;
          text-align: center;
          transform: translateY(100%);

          &.mVCenter {
            position: relative;

            &:before {
              content: " ";
              display: inline-block;
              height: 100%;
              width: 1%;
              vertical-align: middle;
            }

            .mVCenterTarget {
              display: inline-block;
              vertical-align: middle;
            }
          }

          h4 {
            margin: 0 0 5px;
            font-size: 1.142857em;
            font-weight: 300;
          }
        }
      }

      &:hover {
        .eLink, .eText {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

/* Section Prices */
.secPrices {
  .bPrices {
    .bPriceCart {
      position: relative;
      width: 270px;
      height: 578px;
      border: 1px solid #f1f1f1;
      margin: 0 auto 40px;
      overflow: hidden;

      .bHeader {
        .eTitle {
          line-height: 100px;
          font-size: 1.5em;
          margin: 0;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0 10px;
          background: #f1f1f1;
        }
      }

      .bContent {
        height: 100%;
        padding: 36px 30px 32px;

        .bPriceTitle {

          .ePrice {
            position: relative;
            display: inline-block;
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            font-size: 3.375em; //54px
            margin-bottom: 40px;

            span {
              position: absolute;
              top: 0;
              vertical-align: top;
              font-size: 0.555555em;
              font-weight: 400;
              margin: 0 0 0 5px;

              b {
                font-weight: 400;
              }
            }

            .fa {
              vertical-align: top;
              font-size: 1em;
              line-height: 1.45;
              margin-left: 4px;
            }
          }

          .eDescr {
            display: inline-block;
            margin: 0 0 0 5px;
            font-size: 0.75em;
            font-weight: 400;
            text-transform: uppercase;
            color: $color-lead;
          }
        }

        .eLine {
          width: 32%;
          height: 2px;
          background: $color-lead;
          margin-bottom: 48px;
        }

        .bList {
          text-transform: uppercase;

          li {
            font-size: 0.875em;
            line-height: 2.57142em;
          }
        }

        .bBotBtn {
          position: absolute;
          bottom: 32px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
      
      /* Price Cart Lead M*/
      &.mCartLead {

        @include media-sm {
          margin-top: -21px;
          height: 620px;
          width: 290px;
        }

        .bHeader {
          .eTitle {
            color: $color-light;
            line-height: 110px;
            background: $color-lead-grad-start;
            background: linear-gradient(to bottom,  $color-lead-grad-start 0%, $color-lead-grad-end 100%);
          }
        }
      }
    }
  }
}

/* Section Contacts */
.secContacts {
  .bMap {
    height: 300px;
    width: 100%;
    margin: -70px 0 -50px;

    @include media-sm {
      height: 530px;
    }

    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }
  }
}