/* ==========================================================================
   4.State
   ========================================================================== */

/* 4.1 Layouts
   ========================================================================== */
/* Vertical Align Middle Blocks */
.mBlockMiddle {
  display: table;
  width: 100%;
  border: 0;

  .mBlockMiddleTarget {
    display: table-cell;
    vertical-align: middle;
  }
}


/* 4.2 Modules
   ========================================================================== */
/* Font Awesome Correct */
.fa {
  &.fa-rub {
    font-size: 0.9166666em;
  }
}

/* TWBS modal popup vertical center */
.modal {
  text-align: center;
  padding: 0!important;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* TWBS Modal Z-index Correct */
.modal-backdrop {
  z-index: $modalBackdropZ;
}

.modal {
  z-index: $modalZ;
}



/* 4.3 Animation
   ========================================================================== */
/* Transition elements */
a,
input,
select,
button,
.btn {
  transition: all 0.125s ease-in-out 0s;
}