//
// VARIABLES
//

//Colors
$color-base: #3b3b3b;
$color-lead: #50cbbe;
$color-light: #fff;

$color-lead-hover: #84dbd1;
$color-light-hover: #f5f6f9;

$color-lead-grad-start: #34c9e3;
$color-lead-grad-end: #5cccae;

//Typography
$font-size-base: 16px;

//Sizes
$headerH: 70px;
$footerH: $headerH;

//Z-index
$headerZ: 1100;
$modalBackdropZ: 1200;
$modalZ: 1300;

//------------------------------------------------------
//Bootstrap Media Queries Breakpoints

// Extra small screen / phone
$screen-xs-min: 480px !default;

// Small screen / tablet
$screen-sm-min: 768px !default;

// Medium screen / desktop
$screen-md-min: 992px !default;

// Large screen / wide desktop
$screen-lg-min: 1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default; // 767px
$screen-sm-max: ($screen-md-min - 1) !default; // 991px
$screen-md-max: ($screen-lg-min - 1) !default; // 1199px

//Custom breakpoint for extra large device
$screen-xlg-min: 1920px !default;
//------------------------------------------------------
